// aquatic color scheme: https://www.schemecolor.com/aquatic-color-scheme.php#:~:text=The%20Aquatic%20Color%20Scheme%20Color,was%20created%20by%20user%20Sophia.
$ocean-green: #46C696;
$medium-aquamarine: #66DDAA;
$aquamarine: #7FFFD7;
$denim: #2169BA;
$yale-blue: #11489F;
