@import './colors.scss';

.App {
  .landing-page {
    text-align: center;
    padding: 10px;
    height: 80vh;
    display: table-cell; 
    vertical-align: middle;
    width: 100vw;

    .icon-container {
      width: 100%;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      
      svg {
        margin: 5px;
        animation: ckw;
        animation-timing-function: ease-out;
        color: $home-icon;

        &.rand-rot-1 {
          animation-duration: random(15)+s;
        }
        &.rand-rot-2 {
          animation-duration: random(15)+s;
        }
        &.rand-rot-3 {
          animation-duration: random(15)+s;
        }
        &.rand-rot-4 {
          animation-duration: random(15)+s;
        }
        &.rand-rot-5 {
          animation-duration: random(15)+s;
        }
        &.rand-rot-6 {
          animation-duration: random(15)+s;
        }
        &.rand-rot-7 {
          animation-duration: random(15)+s;
        }
      }
    }

    .buttons-links-container {
      width: 100%;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      
      .log-btn {
        color: $ocean-green;
        background-color: $aquamarine;
        width: 100px;
        border: 2px solid black;
        border-radius: 25px;
        padding: 10px;
        margin-top: 5px;

        &:hover {
          color: $aquamarine;
          background-color: $ocean-green;
        }
        &:focus {
          outline: 0;
        }
      }
    }
  }
}
