@import './colors.scss';

.App {
  .navbar-dark {
    .dropdown {
      button.dropdown-item {
        &:focus {
          outline: 0;   
        }
        &:active {
          color: $nav-dropdown-font;
          background-color: transparent;
        }

        svg.spaced-icon {
          margin-left: 10px; 
        }
      }

      .dropdown-toggle {
        color: $aquamarine;

        &:hover {
          color: $ocean-green;
        }
      }
    }
  }
}
