@import './colors.scss';

.App {
  .navbar-dark {
    background-color: $yale-blue !important;

    .navbar-collapse {
      .navbar-nav {
        .nav-item {
          a.dropdown-toggle {
            color: $aquamarine;

            &:hover {
              color: $ocean-green;
            }
          }

          .dropdown-menu {
            a.dropdown-item {
              color: $nav-dropdown-font;

              &:focus {
                outline: 0;   
              }
              &:active {
                color: $nav-dropdown-font;
                background-color: transparent;
              }

              svg.spaced-icon {
                margin-left: 10px; 
              }
            }
          }
        }
      }
    }
  }
}
