@import './colors.scss';

.App {
  .body {

    h1 {
      text-align: center;
      color: $aquamarine;
      border-bottom: solid 3px $yale-blue;
    }
    
    .container-fluid {
      .row {
        .col, .col-10 {
          .stream-image-outer-container {
            /* scale down 1920x1080 to something smaller while retaining 16:9 aspect ratio */
            width: 1344px;
            height: 756px;

            .stream-image-inner-container {
              width: 100%;
              height: 100%;
              position: relative; 

              img#streamImage {
                height: 100%;
                width: 100%;
                position: absolute; 
                top: 0px;
                left: 0px;
              }

              canvas#streamCanvas {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                background-color: rgba(255, 0, 0, 0);
              }
            }
          }
        }

        .col {
          //font-family: Poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;

          .video-controls, .modal-button-container {
            display: flex;
            align-items: center;
            justify-content: center; 
          }

          .slider-control {
            padding: 10px 0;
            p, input {
              width: 100%;
            }
            p {
              margin-bottom: 0;
              margin-right: 10px;
              color: $home-icon;

              &:hover {
                color: $aquamarine;
              }
            }
          }

          .video-controls {
            .btn-group-vertical {
              &.controls {
                .btn {
                  background-color: $yale-blue;
                  color: $ocean-green;

                  &:hover {
                    color: $aquamarine;
                  }
                }

                svg {
                  margin-left: 10px;
                }
              }
            }
          }

          .modal-button-container {
            button {
              background-color: $yale-blue;
              color: $ocean-green;

              &:hover {
                color: $aquamarine;
              }
            }

            svg {
              margin-left: 15px;
            }
          }

        }
      }
    }
  }
}

.ant-drawer {
  .ant-drawer-wrapper-body {
    .ant-drawer-header {
      background-color: $yale-blue;
      border-bottom: 1px solid $nav-dropdown-font;
      
      .ant-drawer-title {
        color: $aquamarine;
      }
    }
    .ant-drawer-body {
      background-color: $denim;

      button {
        margin-top: 5px;
        background: $yale-blue;
        color: $ocean-green;

        &:hover {
          color: $aquamarine;
        }

        svg {
          margin-left: 10px;
        }
      }

      p {
        &.detail {
          margin-bottom: 0;
          color: $home-icon;

          span.header {
            color: $aquamarine; 
          }
        }

        &.header {
          color: $home-icon;
          margin-top: 5px;
          margin-bottom: 0;
          border-top: 2px solid $home-icon;
        }
      }

      .nav {
        .nav-link {
          color: $ocean-green;

          &:hover {
            color: $aquamarine;
          }

          svg {
            margin-left: 10px;
          }
        }
      }

      .photo-credit {
        a {
          color: $ocean-green;

          &:hover {
            color: $aquamarine;
          }
        }
      }
    }
  }
}
